@import '../../Styles/index.scss';
@import '../../Styles/_variables.scss';

.container {
  max-width: 1000px;
  display: flex;
  .row {
    justify-content: center;

    .guessTable {
      max-width: 400px;
      .checked {
        font-size: 1em;
        color: darkgreen;
      }
      .wrecked {
        text-decoration-line: line-through;
        color: darkred;
      }
    }
  }
  .roomCard {
    min-height: 180px;
    margin: 20px;
  }

  .guessCard {
    height: auto;
  }
}
