@import '../../Styles/_variables.scss';
@import '../../Styles/index.scss';

.card {
  background-color: $envelope;
}

.btn {
  margin: 5px
}
.guessTable {
  font-weight: bold;
  border-style: groove;
  th {
    font-size: 1.2em;
  }
  tr {
    font-size: .9em;
  }
}